{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>La Casa de Alicia</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">Cafetería y pastelería</span>
                <span class="site-heading-lower">La Casa de Alicia</span>
            </h1>
        </header>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'inicio' %}">Inicio</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'about' %}">sobre Nosotros</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'productos' %}">Productos</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'tienda' %}">Tienda</a></li>
                {% if user.is_authenticated%}
                    
                    <p class="nav-link text-uppercase" > Bienvenido {{user.username}}</p>
                {% comment %} <form method = "post" action = "{% url 'logout' %}">
                 {% csrf_token %} <button type="submit">salir</button>
                </form> {% endcomment %}
            
                {% endif %}
            </ul>
            
        </div>
    </div>
</nav>