

{% extends 'padre.html' %}
{% load static %}
{% block contenidoquecambia %}
      
<h2>{{ revista.titulo }}</h2>
<p>Editorial: {{ revista.editorial }}</p>
<p>Dueño: {{ revista.usuario.username }}</p>
<p>Teléfono: {{ revista.telefono_del_duenio }}</p>

{% if revista.imagen %}
    <img src="{{ revista.imagen.url }}" alt="Imagen de {{ revista.titulo }}">
{% endif %}

{% if user.is_authenticated and user == revista.usuario %}
    <a href="{% url 'EditarRevista' revista.pk %}">Editar</a>
    <a href="{% url 'BorrarRevista' revista.pk %}">Eliminar</a>
{% endif %}
    <p> Fecha de publicacion: {{revista.fecha_creacion}}</p>
{% endblock contenidoquecambia %}