<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
        
        {% include 'navbar.html' %}

        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h1> Registro</h1>

                                <form action="{% url 'registrar' %}" method = "POST">{% csrf_token %}
                                {{miFormulario.as_p}}

                                <button type="submit"> Registrar </button>
                                </form>
                                <div class="container text-center">
                                    <p>Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a></p>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'assets/img/about.jpg' %}" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">Café fuerte, raíces fuertes</span>
                                    <span class="section-heading-lower">sobre nuestros cafés</span>
                                </h2>
                                <p>Fundado en 1987 por los hermanos Botta, nuestro establecimiento ha estado sirviendo un rico café procedente de agricultores artesanales en varias regiones de América del Sur y Central. Nos dedicamos a viajar por el mundo, encontrar el mejor café y traerlo aquí en nuestra cafetería.</p>
                                <p class="mb-0">
                                    Te garantizamos que caerás en la
                                    <em>lujuria</em>
                                    con nuestras mezclas desde el momento en que entras hasta que terminas tu último sorbo. Únase a nosotros para su rutina diaria, una salida con amigos o simplemente para disfrutar de un tiempo a solas.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>