{% extends 'padre.html' %}
    
{% block contenidoquecambia %}
      
<h1> Lista de profesores</h1>
        <p> Esta es la lista de profesores activos </p>
    
<ul>  
    {% for p in profesores %}

        <li> {{p}} </li> 

        <button>

            <a href ="{% url 'borrarprofesores' p.nombre %}"> Eliminar </a>
            <br>
        </button>
        <button>
            <a href ="{% url 'EditarProfesor' p.nombre %}"> Editar </a>
        </button>

    {% endfor %}

    <br>

    <a href="{% url 'profesorformulario' %}">Crear otro profesor</a>


</ul>

{% endblock contenidoquecambia %}